name: Build and Test

permissions:
  checks: write
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - pablo_dev3
      - magma_dev
      - phreeqc_link
      - meissam_dev_new
      - hayley_dev
      - ruixiao_dev_new

jobs:

  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        name: [ "Build Bionic", "Build Noble" ]
        include:

          - name: "Build Bionic"
            release: bionic

          - name: "Build Noble"
            release: noble
    steps:

      - name: Check Out Repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/actions/Dockerfile.actions.${{ matrix.release }}
          push: true
          tags: icferst/actions:${{ matrix.release }}-${{ github.sha }}

  testing:

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    needs: build
    if: always()

    strategy:
      fail-fast: false
      matrix:
        name: [ "Bionic", "Noble"]
        include:

          - name: "Bionic"
            release: bionic
            runner: ubuntu-latest
            command: "make THREADS=2 serialtest-mp-xml"
            output: "multiphase_test_results.xml"

          - name: "Noble"
            release: noble
            runner: ubuntu-latest
            command: "make THREADS=1 serialtest-mp-xml"
            output: "multiphase_test_results.xml"
    steps:

      - name: Run tests (${{ matrix.name }})
        run: |
         chmod 777 .
         docker pull icferst/actions:${{ matrix.release }}-${{ github.sha }}
         docker run --memory=16g --cpus=4 --oom-kill-disable=false -v $PWD:/host icferst/actions:${{ matrix.release }}-${{ github.sha }} \
           /bin/bash -c "${{ matrix.command }} 2>&1 | tee /host/${{ matrix.release }}-testrun.log && \
           cp -v ICFERST/tests/${{ matrix.output }} /host/${{ matrix.release }}-${{ matrix.output}}"

      - uses: actions/upload-artifact@v4
        with:
          # Upload XML test results
          name: ${{ matrix.release }}-test-results-${{ github.run_id }}
          path: ${{ matrix.release }}-${{ matrix.output }}

      - uses: actions/upload-artifact@v4
        with:
          # Upload full stdout/stderr log
          name: ${{ matrix.release }}-test-log-${{ github.run_id }}
          path: ${{ matrix.release }}-testrun.log

  Report:

    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    if: always()
    needs: testing

    strategy:
      matrix:
        name: [ "Report Bionic", Report Noble" ]
        include:
          - name: "Report Bionic"
            release: bionic
          - name: "Report Noble"
            release: noble

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.release }}-test-results-${{ github.run_id }}
          path: ./artifact

      - name: ${{ matrix.name }}
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: './artifact/*-multiphase_test_results.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          check_name: Test report ${{ matrix.release }}
          fail_on_failure: true
          detailed_summary: true
